.info {
  color: black;
}

.H22 {
  margin: 50px 70px;
  font-weight: 500;
  background: linear-gradient(45deg, #843dff 30%, #834edd 10%, #314fe7);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 30pt;
}

.content-info {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  -ms-grid-columns: 1.5fr 50px 2fr;
  grid-template-columns: 1.8fr 2fr;
  margin-left: 5%;
  width: 90%;
}

.imgInfo {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  height: auto;
}

.content-text-info1 p {
  width: 100%;
  color: #2338a1;
  font-weight: 400;
  padding: 10px;
}

.content-text-info1 h3 {
  background: linear-gradient(45deg, #834edd 15%, #6d7ae9 50%, #40d4ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20pt;
  font-weight: bold;
}

.btn_see1 {
  background: linear-gradient(45deg, #843dff 30%, #834edd 10%, #314fe7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 0px;
  border-bottom: 1px solid #314fe7;
  border-radius: 0;
}
.btn_see1:hover {
  background: rgb(230, 86, 198);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.see {
  font-size: 1em;
  color: rgb(230, 86, 198);
  font-weight: bold;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button {
  border: solid 2px;
}
